:root {
  --color-primary:#08306b;  /* Azul oscuro */
  --color-secondary: #1a4c98; /* Azul vibrante */
  --color-background: #f5f5f5;
  --color-text: #212121;
  --color-success: #388e3c;
  --color-error: #d32f2f;
}
html {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex: 1; /* ocupa todo el espacio disponible */
}

/* Estilos generales */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Unica One', serif;
  margin: 0;
  height: 100%;
}

.form-card {
   background-color: #fff; 
   padding: 2rem; 
   border-radius: 12px; 
   box-shadow: 0 6px 12px rgba(13, 71, 161, 0.2); 
   width: 100%; max-width: 400px; } 
   
.form-card h2 { 
  color: var(--color-primary);
   font-weight: bold;
}
.form-card .form-control { 
  border-radius: 8px; 
  border: 1px solid #ccc; 
  transition: border-color 0.3s ease,
   box-shadow 0.3s ease; 
  } 
.form-card .form-control:focus {
   border-color: var(--color-secondary);
    box-shadow: 0 0 6px rgba(25, 118, 210, 0.4); 
} 
.form-card .btn {
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, 
  transform 0.2s ease; 
} 
.form-card .btn:hover {
 transform: scale(1.03);
}
.form-card .btn-primary {
   background-color: var(--color-primary); 
   border: none; 
  }
.form-card .btn-primary:hover {
   background-color: #062047;  
  }
.form-card .btn-success {
   background-color: var(--color-success);
    border: none; 
  } 
.form-card .btn-success:hover { 
    background-color: #2e7d32; 
  }
.form-card p {
     font-size: 0.9rem;
      color: #555;
 } 
.form-card a {
   color: var(--color-secondary); 
   text-decoration: none; 
   font-weight: 500; 
} 
.form-card a:hover { 
    text-decoration: underline; 
}
.whatsapp-float {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: #25d366; 
  color: white; 
  font-size: 30px; 
  padding: 12px 14px; 
  border-radius: 50%; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
  z-index: 1000; 
  text-decoration: none; 
  transition: transform 0.2s ease-in-out;
 } 
 .whatsapp-float:hover { 
  transform: scale(1.1); 
}